#about
  #panel
    #container
      =image_tag 'crowdsource.png'
      %br
      %br
      YOUR DONATIONS GO INTO AN INTEREST BEARING FUND; THE INTEREST IS USED TO PROTECT THESE LANDS.
      Based on the past several years of expenses related to protecting the specified lands, we have calculated that if each of the 100,000 acres was adopted at $40 per acre, the interest from those donations would be enough to manage and protect these healthy Amazonia forests for at least 40 years. (A small portion of each donation is used to maintain the website, but 80% of your donation goes directly into a Fund to generate interest.)
      #extra_content
        %br
        WHY ACRECARE?
        The Amazon is home to more plants, animals and trees than any other place in the world. These trees are made of carbon, which is released into the atmosphere when the trees are destroyed. This burning adds approximately 20% of all yearly carbon emissions and kills nearly everything in its vicinity. When we destroy the Amazon, we kill future foods and medicines. If we destroy these trees, we add toxic levels of carbon into the atmosphere, which slowly heats up our world.
        Fortunately, there is something we can do to keep our world cool. With your $40 donation to AcreShare and AcreCare, you can help us protect these forests.
        Protecting acres is hard. And expensive to do. The Amazon is valuable, and people take the precious natural resources for themselves. If we do not pay to protect the forests, then the Amazon will disappear. So help us keep the trees standing. Adapt an acre and protect the Amazon one tree at a time.
        Help us reach our goal of protecting 100,000 pristine acres in the Amazon one tree at a time.
        %br
        %br
        HOW DID THIS HAPPEN?
        The rise in international pressure for natural resources has led to a wide range of extractive activities that threaten the Amazon. These include mining and oil expansion, developmental pressures from road construction, land conversion to fields or pasture, and logging. While the landholders in the Amazon strive to protect their forests from this type of conversion, finding equally financially lucrative uses for their land is an extremely difficult task.

    #container
      %br
      %br
      HOW DOES YOUR MONEY HELP?
      AcreCare is Amazon Aid Foundation’s revolutionary system for direct private protection of the Amazon rainforests. For $40 you can adopt and protect an acre of your choosing for 40 years through our NASA geospacial mapping system.
      Donations made to the Amazon Aid Foundation contribute to our awareness campaigns and to a fund that supports the supervision and operation of the 100,000 acres in the Madre De Dios region – the headwaters of the Amazon. This includes the funding of park guards, government protection, concession staff, and management of the area.

      #extra_content
        %br
        WHY THESE ACRES?
        One of the Amazon Aid Foundation’s (AAF) main goals is to maintain partnerships with Amazon conservation organizations that have a dedicated history of preservation in the area. For our pilot project, we are working with the Amazon Conservation Association (ACA) and its sister organization in Peru, la Asociación para la Conservación de la Cuenca Amazónica (ACCA).
        These organizations’ shared mission is to protect and scientifically study these rich forests, which is why they have dozens of scientists living amongst the wide variety of plants and animals that call the Amazon home.
        AAF and our partner ACA-ACCA aim to protect land which is located along the Madre de Dios River in Southeastern Peru. Initially protected in 2001 by ACA, this area makes up the heart of the Amazon. Great rivers, like the Los Amigos River, trickle down from the adjacent Andes Mountains. The Amazon holds the important reserve for un-contacted indigenous groups, the Territorial Reserve of Madre Dios. The Amazon also houses trees that are still standing and 100,000 acres of old-growth Amazonian forest, plants and animals.
        When ACA-ACCA first decided to protect this area, their goal was to ensure lasting protection of the Los Amigos watershed, which is home to a spectacular montage of animal species, including 12 that are globally threatened, and terrestrial and aquatic habitats like palm swamps, oxbow lakes, bamboo thickets and various types of flooded and non-flooded forests.
        Today, our partnership with ACA-ACCA does more than just protect. We aim to foster more research, education and empowerment among the Latin American people so they can benefit from this sacred area and act as long-term guardians, mentors and conservation planners in the region.
        =image_tag 'generalfund.png'

    #back
      =link_to_function "Back", "history.back()", :id=> 'button'

