#about
  #left-column
    =image_tag 'crowdsource.png'
    #text
      %b
        Receive a certificate
      %br
      ="<example certificate>.png"
      %br
      %br
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate""
  #right-column
    #text
      %b
        What is the money used for?
      %br
      %br
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate""
    =image_tag 'generalfund.png'
