#thanks
  %p
  #light.white_content
    =image_tag '4.gif', :id => 'spinner'
  #fade.black_overlay
    #text
      Generating Certificate PDF
  #thankyoumessage
    Thank You
  #certificateform
    #form
      #text
        Certificate Detail
        = simple_form_for :certificate do |f|
          .form-inputs
            = f.input :title, :placeholder => 'NAME YOUR ACRE', :label => false
            /= f.input :description, :placeholder => 'Name of Acre', :label => false
            = f.button :submit, 'Download Parcel Certificate', :class=> 'generate_btn'
  #share
    %center
      %a.twitter-share-button{"data-size" => "small",  "data-count"=>"none", "data-text" => "I just donated $40 to name one acre of Rainforest for protection and conservation","data-url" => "http://www.amazonaid.org/", :href => "https://twitter.com/share"}
      .fb-like{"data-href" => "http://www.amazonaid.org/", "data-layout"=>"button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}



