#thanks{
  background-color:#f5f5f5;
  #container{
    #thankyoumessage{
      display:block;
      font-size:40px;
      font-weight:bold;
      color: #262515;
      text-align: center;
      padding:40px;
    }

    #certificate{
      img{
        height:30%;
      }
    }

    .fb-like{
    }
    a.twitter-share-button{
    }
  }
}