%center
  Thank You!
  %br
  =image_tag("certificate.jpg")
  %br

%br
%br

%br

%br


.fb-like{"data-href" => "http://www.amazonaid.org/", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}

%a.twitter-share-button{"data-size" => "large", "data-text" => "I just donated $40 to help AmazonAid preserve the natural beauty of the rainforest", "data-url" => "http://www.amazonaid.org/", :href => "https://twitter.com/share"} Tweet
