#thanks
  #container
    #thankyoumessage
      Thank You
    #certificate
      %center
        =image_tag("certificate.jpg")
    .fb-like{"data-href" => "http://www.amazonaid.org/", "data-send" => "false", "data-show-faces" => "false", "data-width" => "800"}
    %a.twitter-share-button{"data-size" => "large", "data-text" => "I just donated $40 to help AmazonAid preserve the natural beauty of the rainforest", "data-url" => "http://www.amazonaid.org/", :href => "https://twitter.com/share"} Tweet
