=link_to (image_tag("logo.png")), root_path, :class => 'brand'
#header_donate
  /%script{"data-amount" => "40","data-name" => "Protect your future. One acre at a time", "data-button" => "donate","data-currency" => "USD","data-env" => "sandbox","data-shipping" => "0","data-tax" => "0",:src => "../paypal-button.min.js?merchant=chielo@coshx.com"}

#link_gift
  =link_to (image_tag "gift_link.png"), '/donations/new'
#link_aff
  =link_to (image_tag "aff_link.png"), 'http://www.amazonaid.org'
#info
  =link_to (image_tag "info.png"), '/about'
