<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>eCard Delivery Confirmation</h1>
      Your eCard was delivered

  </body>
</html>